# Define the zitadel instance domain
DOMAIN=my-domain.zitadel.cloud
# Define the port to run the webapp on 
API_PORT=8090
# Define the port to run the api on 
WEB_PORT=8089
# Define the client id for the webapp and the api
CLIENT_ID=
# Define the secret key for the webapp
WEB_KEY=
# Define the file where the server key is stored
KEY_FILE=key.json
